html {
	scroll-behavior: smooth;
}

body {
	background-color: grey;
}

.main {
}

.main,
.bio,
.tech {
	background-color: white;
}

.one {
	background-color: white;
}

.two {
	/* margin-top: -95px;
	z-index: 10; */
}

.color1 {
	background-color: ghostwhite;
}

.tools > img {
	height: 150px;
}

.tools > p {
	width: 100%;
}

.tools {
	display: flex;
	flex-wrap: wrap;
}

.proj {
	height: 500px;
}

.main {
	height: 60vh;
	/* border: 5px solid red; */
	border-bottom-right-radius: 500px 100px;
	border-bottom-left-radius: 500px 100px;

	overflow: hidden;
}

.background {
	height: 100%;
	width: 100%;
	display: inline-block;
	position: relative;
	text-align: center;
}

.background > img {
	max-height: 100%;
	max-width: 100%;
}

.over {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* .background {
	background-image: url("https://i.imgur.com/ZhTLHzy.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	padding-top: 66.64%;
} */
.main > button {
}

.sd {
	height: 100%;
	width: 100%;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	position: absolute;
}

.bio {
	height: 70vh;
	/* border: 5px solid red; */
	border-bottom-right-radius: 500px 100px;
	border-bottom-left-radius: 500px 100px;
	overflow: hidden;
	background-color: ghostwhite;
}

.bio-text {
	/* height: 100%;
	width: 100%; */
	width: 50%;
	margin-left: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.pic {
	border-radius: 50%;
}

.head {
	width: 100%;
}

.here {
	height: 30vh;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: gray;
}

.color2 {
	background-image: linear-gradient(to right, cyan, darkblue);
}

.tech {
	display: flex;
	flex-wrap: wrap;
	/* border: 5px solid red; */
	border-bottom-right-radius: 500px 100px;
	border-bottom-left-radius: 500px 100px;
	overflow: hidden;
	background-image: linear-gradient(to right, cyan, darkblue);
	color: white;
}

.item {
	width: 50%;
}

.icon {
	padding-top: 30px;
	height: 75px;
}

.thanks {
	padding-top: 5%;
}

footer {
	margin-top: -5px;
	/* margin-bottom: 50px; */
	height: 100px;
	border-top-right-radius: 500px 100px;
	border-top-left-radius: 500px 100px;
	background-color: white;
	/* border: 5px solid red; */
}

.foot > a {
	padding-right: 30px;
	padding-top: 25px;
}

.foot {
	display: flex;
	justify-content: center;
}
